body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Darker Grotesque', sans-serif;
    
} /* faz eles encostarem nos cantos para nao existir espaço em branco desnecessário */

/* configurando o header */
header {
    background-color: #85CDF5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin-bottom: 0;
}

/* configurando os h2 do header */
header h2{
    width: 222px;
    height: 30px;
    font-size: 30px;
    transition: color 0.3s ease;
}

/* ajeitar melhor a linha depois*/
#nossos:hover{ 
    color: #444;
    cursor: pointer;
}


header a {
    text-decoration: none;
    color:#000
}

.barra-qm {
    display: flex;
    flex-direction: column;
}

.barra{
    width: 99px;
    height: 5px;
    background-color: #000;
    margin-top: -12px;
    margin-left: 60px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.barra-qm:hover .barra {
    opacity: 1;
}


/*--------------- main------------*/
.box{
    width: 958px;
    height: 874px;
    margin: 100px auto;
    border: #333333 solid;
}
.box h1{
    height: 81px;
    font-family: 'Darker Grotesque';
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 54px;
}
.form{
    width: 761px;
    height: 512px;
    border-width: 1px;
    border: 1px #333333;
    margin-top:67px ;
    margin-left: 98px;
    display: flex;
    flex-direction: column;
    font-family: 'Darker Grotesque';
    font-weight: 500;
    font-size: 30px;
    gap: 15px;
}
.campoduplo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.campoduplo div{
    display: flex;
    flex-direction: column;
}
#nome{
    width: 564px;
    height: 39px;
    border-width: 1px;
    background: #E6E6E6;
    border: 1px solid #333333
}
#idade{
    width: 170px;
    height: 39px;
    border-width: 1px;
    background: #E6E6E6;
    border: 1px solid #333333
}
#foto{
    width: 760px;
    height: 39px;
    border-width: 1px;
    background: #E6E6E6;
    border: 1px solid #333333
}
#descriçao{
    width: 760px;
    height: 250px;
    border-width: 1px;
    background: #E6E6E6;
    border: 1px solid #333333;
    resize:none
}
.box form button{
    width: 209px;
    height: 60px;
    border-width: 1px;
    background: #2C5680;
    border: 1px solid #333333;
    margin-left:374px ;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    margin-top: 50px;
}

.box form button:hover {
    background-color: #234461; /* tom mais escuro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* sombra sutil */
    transform: scale(1.02); /* leve crescimento */
    color: #f0f8ff; /* branco azulado */
}

/*-----------Footer-------------*/
footer *{
    margin-top: 0;
    margin-bottom: 0; /*tira o espaço que tem entre os elementos*/
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #333333;
    border-top: 5px solid;
    border-image: linear-gradient(to right, #DEB959, #2C5680) 1;
}

.infos{
    background-color: #333333;
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.footer.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 40px;
    gap: 20px;
    font-size: 18px;
    margin-right: 0;
    line-height: 15px;
    letter-spacing: 0%;
}

.endereço, .telefone, .email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.endereço{
    width: 378px;
}

.footer.info button {
    width: 144px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #DEB959;
    color: #353535;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
}

.footer.info button:hover {
    background-color: #c5a04a;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    background-color: #333333;
    color: #FFFFFF;
    min-width: 200px;
    margin-right: 100px;
}

.logo p {
    margin-bottom: 10px;
    font-size: 16px;
}

.logo img {
    width: 104px;
    height: 104px;
}

#botaoqs {
    text-decoration: none;
}