*{
    margin: 0;
    padding: 0;

}
header{
    width: 100%;
    height: 130px;
    background: #85CDF5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:10px 20px ;
    margin-bottom: 0;
    font-family: 'Darker Grotesque';
    color: #333333;    
    font-weight: 700;
    font-size: 30px;
}
header a{
    text-decoration: none;
    color: inherit;
}
.lobinho a img {
    width: 95px;
    height: 110px;    
}
/*--------------- main------------*/
.box{
    width: 958px;
    height: 874px;
    margin: 180px 221px 387px 221px ;
    
    border: #333333 solid;
}
.box h1{
    height: 81px;
    font-family: 'Darker Grotesque';
    font-weight: 600;
    font-size: 60px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 54px;
}
.form{
    width: 761px;
    height: 512px;
    border-width: 1px;
    border: 1px #333333;
    margin-top:67px ;
    margin-left: 98px;
    display: flex;
    flex-direction: column;
    font-family: 'Darker Grotesque';
    font-weight: 500;
    font-size: 30px;
}
.campoduplo{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.campoduplo div{
    display: flex;
    flex-direction: column;
}
#nome{
    width: 564px;
    height: 39px;
    border-width: 1px;
    background: #E6E6E6;
    border: 1px solid #333333
}
#idade{
    width: 177px;
    height: 39px;
    border-width: 1px;
    background: #E6E6E6;
    border: 1px solid #333333
}
#foto{
    width: 760px;
    height: 39px;
    border-width: 1px;
    background: #E6E6E6;
    border: 1px solid #333333
}
#descriçao{
    width: 760px;
    height: 250px;
    border-width: 1px;
    background: #E6E6E6;
    border: 1px solid #333333;
    resize:none
}
.box form button{
    width: 209px;
    height: 60px;
    border-width: 1px;
    background: #2C5680;
    border: 1px solid #333333;
    margin-top: 50px;
    margin-left:374px ;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
}
/*-----------Footer-------------*/
footer{
    width: 100%;
    height:275px;
    background: #333333;
        
}

.footer{
    display: flex;
    flex-direction: row;    
}
.footer iframe{
    width: 250px;
    height: 168px;
    margin-top: 51px;
    margin-left:219px;
}
.informaçao{
    display: flex;
    flex-direction: column;
    width: 378px;
    height: 102px;
    margin-top: 51px;
    margin-left:40px;
    gap: 20px;
    font-size: 18px;
    margin-right: 0;  
    
    
}
.endereço,.telefone,.email{
    display: flex;
    flex-direction: row;    
    align-items: center;  
    gap: 10px ;  
    font-family: 'Darker Grotesque';
    font-weight: 400;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 15px;
    letter-spacing: 0%;
    color: #FFFFFF; 

     

}
.informaçao button{
    width: 144px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #DEB959;
    color: #353535;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
}
.logo p{
    width: 119px;
    height: 24px;
    margin-top: 51px;
    margin-left: 179px;
    color: #FFFFFF;
    font-family: 'Darker Grotesque';
    font-weight: 400;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}
.logo img{
    width: 104px;
    margin-top: 8px;
    margin-left: 188px;

}
