body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Darker Grotesque', sans-serif;
    
} /* faz eles encostarem nos cantos para nao existir espaço em branco desnecessário */

/* configurando o header */
header {
    background-color: #85CDF5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin-bottom: 0;
}

/* configurando os h2 do header */
header h2{
    width: 222px;
    height: 30px;
    font-size: 30px;
    font-weight: 700;
}

/* ajeitar melhor a linha depois*/
header h2:hover{ 
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color:#000
}


/*ajuste da imagem do lobo*/

.lobinho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
    height: 318px;
    gap: 125px;
    background: #F3F3F3;
    max-width: 100%;
    justify-content: left;
}


.lobinho img {
    width: 200px;
    height: 200px;
    border-radius: 10000px;
    object-fit: cover;
}


/*Configuração do Footer*/

footer *{
    margin-top: 0;
    margin-bottom: 0; /*tira o espaço que tem entre os elementos*/
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #333333;
    border-top: 5px solid;
    border-image: linear-gradient(to right, #DEB959, #2C5680) 1;
}

.infos{
    background-color: #333333;
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.footer.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 40px;
    gap: 20px;
    font-size: 18px;
    margin-right: 0;
    line-height: 15px;
    letter-spacing: 0%;
}

.endereço, .telefone, .email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.endereço{
    width: 378px;
}

.footer.info button {
    width: 144px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #DEB959;
    color: #353535;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
}

.footer.info button:hover {
    background-color: #c5a04a;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    background-color: #333333;
    color: #FFFFFF;
    min-width: 200px;
    margin-right: 100px;
}

.logo p {
    margin-bottom: 10px;
    font-size: 16px;
}

.logo img {
    width: 104px;
    height: 104px;
}